/**
* Reset
*********/
ul,
li {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
textarea:focus,
input:focus {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: 300;
}
:focus {
  outline: none;
}
::-moz-focus-inner {
  border: 0;
}
button {
  border: none;
}
/**
* Colors
**********/
/**
* Fonts
**********/
/* Family */
/* Weight */
/**
* Icons
**********/
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon_WebFont/flaticon.eot");
  src: url("../fonts/Flaticon_WebFont/flaticon.eot#iefix") format("embedded-opentype"), url("../fonts/Flaticon_WebFont/flaticon.woff") format("woff"), url("../fonts/Flaticon_WebFont/flaticon.ttf") format("truetype"), url("../fonts/Flaticon_WebFont/flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: 'Flaticon';
  font-size: 20px;
  font-style: normal;
}
.flaticon-left {
  margin-right: 10px;
}
.flaticon-right {
  margin-left: 10px;
}
.flaticon-close12:before {
  content: "\e000";
}
.flaticon-house3:before {
  content: "\e001";
}
.flaticon-reorder:before {
  content: "\e002";
}
/**
* Mixins
**********/
/**
* Helper
**********/
/* Liste */
ul.list-inline > li {
  display: inline-block;
}
ul.list-no-style > li {
  list-style: none;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
/**
* Button
**********/
.btn {
  padding: 10px 15px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
}
.btn.disabled {
  opacity: 0.5;
  cursor: default;
}
.btn-small {
  padding: 8px 13px;
  font-size: 0.9em;
}
.btn-default {
  background-color: #ebebeb;
  color: #9f9f9f;
}
.btn-default:hover {
  background-color: #e3e3e3;
}
.btn-primary {
  background-color: #e97b7d;
  color: #f2f2f2;
}
.btn-primary:hover {
  background-color: #e76e70;
}
.btn-second {
  background-color: #00dcff;
  color: #008499;
}
.btn-second:hover {
  background-color: #00cff0;
}
/**
* Table
**********/
table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}
table tr {
  border-bottom: 1px solid #c5c5c5;
}
table tr:last-child {
  border-bottom: none;
}
table tr th {
  border-bottom: 2px solid #c5c5c5;
  padding: 0px 8px 14px 8px;
}
table tr td {
  padding: 6px;
}
/**
* Formulaire
**********/
input {
  border: 0;
  padding: 10px;
  color: #aaa;
  border: solid 1px #ccc;
  margin: 0 0 20px;
}
.form-item {
  margin-bottom: 10px;
}
.form-item:last-child {
  margin-bottom: 0;
}
/**
* Bloc
*********/
.content {
  padding: 25px;
}
.bloc-top {
  margin-bottom: 25px;
}
.panel-group .panel-item {
  background-color: #ffffff;
  margin-bottom: 15px;
}
.panel-group .panel-item .panel-header {
  overflow: auto;
  padding: 10px 18px;
  border-bottom: 1px solid #f2f2f2;
  color: #e97b7d;
}
.panel-group .panel-item .panel-content {
  padding: 18px;
}
/**
* styles
**********/
/* Communs */
body {
  height: 100%;
  background-color: #f2f2f2;
  color: #3d4c67;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
.wrapper {
  width: 100%;
  height: 100%;
}
.wrapper nav {
  background-color: #3d4c67;
  color: #f2f2f2;
  float: left;
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  transition: all 0.3s ease-out;
}
.wrapper nav ul > li {
  list-style: none;
}
.wrapper nav ul > li:first-child.extand-item {
  display: none;
}
@media only screen and (max-width: 800px) {
  .wrapper nav ul > li:first-child.extand-item {
    width: 265px;
    display: block;
  }
  .wrapper nav ul > li:first-child.extand-item a {
    background-color: #394761;
    color: #e97b7d;
    text-align: right;
  }
}
@media only screen and (min-width: 800px) {
  .wrapper nav ul > li:first-child + li > a {
    background-color: #e97b7d;
  }
  .wrapper nav ul > li:first-child + li > a:hover {
    background-color: #e87274;
  }
}
.wrapper nav a {
  background-color: #3d4c67;
  color: #f2f2f2;
  padding: 20px 20px 20px 40px;
  display: block;
}
.wrapper nav a:hover {
  background-color: #394761;
}
.wrapper nav a.active {
  background-color: #f2f2f2;
  color: #3d4c67;
}
@media only screen and (max-width: 800px) {
  .wrapper nav .optional {
    display: none;
  }
  .wrapper nav.open {
    margin-left: 0;
  }
  .wrapper nav.close {
    margin-left: -200px;
  }
}
.wrapper .main {
  margin-left: 200px;
  transition: all 0.3s ease-out;
}
@media only screen and (max-width: 800px) {
  .wrapper .main {
    margin-left: 0;
  }
}
.wrapper .main .sidebar {
  padding: 10px;
  background-color: #3d4c67;
  color: #f2f2f2;
  text-align: right;
}
.wrapper .main .sidebar a {
  color: #f2f2f2;
}
/* Login */
.wrapper-login {
  background-color: #3d4c67;
  width: 100%;
  height: 100%;
  position: fixed;
  padding-top: 100px;
}
.wrapper-login .login {
  width: 300px;
  padding: 30px;
  background-color: #f2f2f2;
  margin: 0 auto;
}
.wrapper-login .form-item {
  width: 100%;
}
.wrapper-login .form-item Input[type="text"],
.wrapper-login .form-item Input[type="password"] {
  width: 93%;
}
