{% extends "ProjectAppBundle::layout.html.twig" %}

{% block content %}
    
    {% if is_granted('ROLE_STUDENT') %}
	<div class="bloc-top">
        <a class='btn btn-second' href="{{ path('feedback_new') }}">Faire une retour</a>
    </div>
    {% endif %}

    <div class="panel-group">
        {% if entities %}
            {% for entity in entities %}
                <div class="panel-item">
                    <div class="panel-header">
                        {{ entity.module.getName }}
                        {{ entity.created|date('Y-m-d H:i:s') }}
                    </div>
                    <div class="panel-content">
                        {{ entity.comment }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    
{% endblock %}
