{% extends "ProjectAppBundle::layout.html.twig" %}

{% block content %}
    
    {% if is_granted('ROLE_STUDENT') %}
	<div class="bloc-top">
        <a class='btn btn-second' href="{{ path('feedback_new') }}">Faire une retour</a>
    </div>
    {% endif %}

    <div class="panel-group">
        {% if entities %}
            {% for entity in entities %}
                <div class="panel-item">
                    <div class="panel-header">
                        <div class="pull-left">
                            {{ entity.module.getName }}
                        </div>
                        <div class="pull-right">
                            {{ entity.created|date('Y-m-d H:i:s') }}
                        </div>
                    </div>
                    <div class="panel-content">
                        {{ entity.comment }}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="panel-item">
                <div class="panel-content">
                    Aucun FeedBack
                </div>
            </div>
        {% endif %}
    </div>
    
{% endblock %}
