{% extends "ProjectAppBundle::layout.html.twig" %}

{% block content %}
    
    {% block mainLevel2 %}{% endblock %}

    <div class="panel-group">
        {% if entities %}
            {% for entity in entities %}
                <div class="panel-item">
                    <div class="panel-header">
                        {{ entity.module.getName }}
                        Le {{ entity.created|date('d/m/Y à H:i') }}
                    </div>
                    <div class="panel-content">
                        {{ entity.comment }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    
{% endblock %}
