/**
* Reset
*********/
ul, li{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
textarea:focus, input:focus{
	outline:none
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
	font-weight: @font-light;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

button{
	border: none;
}

/**
* Colors
**********/
@color-dark : #3D4C67;
@color-small-dark : #2f6a87;
@color-grey : #EBEBEB;

@color-light : #f2f2f2;

@color-primary : #E97B7D;
@color-second : #00DCFF;



// @color-dark : #4D5964;
// @color-light : #E9EEF5;
// @color-primary : #32C8B8;
// @color-second : #A2B9BA;

@color-white : #FFFFFF;


/**
* Fonts
**********/

/* Family */
@font-second : 'Montserrat', sans-serif;
@font-primary : 'Open Sans', sans-serif;

/* Weight */
@font-light : 300;
@font-regular : 400;

/**
* Icons
**********/
@font-face {
	font-family: "Flaticon";
	src: url("../fonts/Flaticon_WebFont/flaticon.eot");
	src: url("../fonts/Flaticon_WebFont/flaticon.eot#iefix") format("embedded-opentype"),
	url("../fonts/Flaticon_WebFont/flaticon.woff") format("woff"),
	url("../fonts/Flaticon_WebFont/flaticon.ttf") format("truetype"),
	url("../fonts/Flaticon_WebFont/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: 'Flaticon';
	font-size: 20px;
	font-style: normal;
}

.flaticon-left{
	margin-right: 10px;
}
.flaticon-right{
	margin-left: 10px;
}

.flaticon-close12:before {
	content: "\e000";
}

.flaticon-house3:before {
	content: "\e001";
}

.flaticon-reorder:before {
	content: "\e002";
}



/**
* Mixins
**********/
.border-radius(@radius) {
	-webkit-border-radius: @radius;
	border-radius: @radius;
}

/**
* Helper
**********/

/* Liste */
ul.list-inline > li{
	display: inline-block;
}
ul.list-no-style > li{
	list-style: none;
}

.pull-right{
	float: right;
}
.pull-left{
	float: left;
}

/**
* Button
**********/
.btn{
	padding: 10px 15px;
	.border-radius(3px);
	display: inline-block;
}
.btn.disabled{
	opacity: 0.5;
	cursor: default;
}

.btn-small{
	padding: 8px 13px;
	font-size: .9em
}

.btn-default{
	background-color: @color-grey;
	color: darken(@color-grey, 30%);
	&:hover{
		background-color: darken(@color-grey, 3%);
	}
}
.btn-primary{
	background-color: @color-primary;
	color: @color-light;
	&:hover{
		background-color: darken(@color-primary, 3%);
	}
}
.btn-second{
	background-color: @color-second;
	color: darken(@color-second, 20%);
	&:hover{
		background-color: darken(@color-second, 3%);
	}
}
/**
* Table
**********/
table{
	border-collapse: collapse;
	width: 100%;
	text-align: left;

	tr{
		border-bottom: 1px solid darken(@color-grey, 15%) ;
		&:last-child{
			border-bottom: none;
		}
		th{
			border-bottom: 2px solid darken(@color-grey, 15%) ;
			padding: 0px 8px 14px 8px;
		}
		td{
			padding: 6px;
		}
	}

}




/**
* Formulaire
**********/
input{
	border:0; 
	padding:10px; 
	color:#aaa; 
	border:solid 1px #ccc; 
	margin:0 0 20px;
}

.form-item{
	margin-bottom: 10px;
	&:last-child{
		margin-bottom: 0;
	}
}


/**
* Bloc
*********/
.content{
	padding: 25px;
}

.bloc-top{
	margin-bottom: 25px;
}

.panel-group{
	.panel-item{
		background-color: @color-white;
		margin-bottom: 15px;
		
		.panel-header{
			overflow: auto;
			padding:10px 18px;
			border-bottom: 1px solid @color-light;
			// background-color: @color-second;
			color: @color-primary;
		}
		.panel-content{
			padding:18px;
		}

	}

}

/**
* styles
**********/

/* Communs */
body{
	height: 100%;
	background-color: @color-light;
	color: @color-dark;
	font-family: @font-primary;
	font-weight: @font-light;
}

.wrapper{
	width: 100%;
	height: 100%;

	nav{
	
		background-color: @color-dark;
		color: @color-light;
		float: left;
		width: 200px;
		height: 100%;
		position: fixed;
    top: 0;
    bottom: 0;

		ul > li{
			list-style: none;
			&:first-child{
				&.extand-item{
					
					@media only screen 
					and (max-width : 800px) {
						a {
							background-color: darken(@color-dark, 2%);
							color : @color-primary;
							text-align: right;
						}
						
						width: 265px;
						display: block;

					}

					display: none;
				}
				
				+ li > a{
					@media only screen 
					and (min-width : 800px) {
						background-color: @color-primary;
						&:hover{
							background-color: darken(@color-primary, 2%);
						}
					}
				}
			}
		}
		a{	
			background-color: @color-dark;
			color: @color-light;
			padding: 20px 20px 20px 40px;
			display: block;

			&:hover{
				background-color: darken(@color-dark, 2%);
			}

			&.active{
				background-color: @color-light;
				color: @color-dark;
			}
		}

		@media only screen 
		and (max-width : 800px) {
			.optional {
				display: none;
			}


			&.open {
				margin-left: 0;
			}

			&.close {
				margin-left: -200px;
			}
		}

		transition: all .3s ease-out;
	}

	.main{

		margin-left: 200px;

		@media only screen 
		and (max-width : 800px) {
			// Smartphones & tablets
			margin-left: 0;
  	}

		.sidebar{
			padding: 10px;
			background-color: @color-dark;
			color: @color-light;
			text-align: right;
	
			a{ color: @color-light; }

		}

		transition: all .3s ease-out;
	}
}

/* Login */

.wrapper-login{
	background-color: @color-dark;
	width: 100%;
	height:100%;
	position: fixed;
	padding-top: 100px;
	
	.login{
		width: 300px;
		padding: 30px;
		background-color: @color-light;
		margin: 0 auto;
	}
	
	.form-item{
		width: 100%;
		Input[type="text"], Input[type="password"]{
			width: 93%;
		}
	}

}



















