{% extends "ProjectAppBundle::layout.html.twig" %}

{% block content %}
	<form action="{{ path('project_app_manager_module_create') }}" method="POST" {{ form_enctype(formModule) }} >
		{{ form_errors(formModule) }}
		{{ form_widget(formModule) }}

		<input type="submit" value="Ajouter" />
	</form>
{% endblock %}
