{% extends "ProjectAppBundle::layout.html.twig" %}

{% block content %}
	<div class="bloc-top">
        {{ numberModules }} modules
    </div>

    <div class="panel-group">
        {% if modulesList %}
            {% for module in modulesList %}
                <div class="panel-item">
                    <div class="panel-header">
                        {{ module.name }}
                    </div>
                    <div class="panel-content">
                        Intervenant : {{ module.speaker.user.username }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    
{% endblock %}
