{% extends "ProjectAppBundle::layout.html.twig" %}

{% block main %}
	<form action="{{ path('project_app_user_index') }}" method="POST" {{ form_enctype(formFormation) }} >
		{{ form_errors(formFormation) }}
		{{ form_widget(formFormation) }}

		<input type="submit" value="Ajouter" />
	</form>
{% endblock %}