{% extends '::base.html.twig' %}
{#
{%  extends "::layout.html.twig" %}

{% block content %}
{% endblock %}
#}
{% block body %}
    <div class="content">
        
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block content %}
        {% endblock %}

    </div>

{% endblock %}





