{% extends '::base.html.twig' %}
{#
{%  extends "::layout.html.twig" %}

{% block content %}
{% endblock %}
#}
{% block body %}
    <div class="content">

        {% block fos_user_content %}
        {% endblock %}

        {% block content %}
        {% endblock %}

    </div>

        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

{% endblock %}





