{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Speaker list</h1>

    <table class="records_list">
        <thead>
        <tr>
            <th>Id</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_speaker_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
{% endblock %}
