{% extends "ProjectAppBundle::layout.html.twig" %}

{% block main %}
	{% if studentsList is defined %}
		{% for student in studentsList %}
			<li>Student : {{ student.username }} - {{ student.surname }} - {{ student.email }}</li>
		{% endfor %}
	{% else %}
		<p>{{ msg }}</p>
	{% endif %}
{% endblock %}