{% extends 'ProjectAppBundle::layout.html.twig' %}

{% block main -%}
    <h1>Critère</h1>

    <ul>
        <li>Libellé : {{ entity.description }}</li>
        <li>Note maximale : {{ entity.max }}</li>
    </ul>
    <a href="{{ path('criterion_edit', { 'id': entity.id }) }}">
        Modifier
    </a>
    {{ form(delete_form) }}

{% endblock %}
