{% extends "ProjectAppBundle::layout.html.twig" %}

{% block main %}
	<form action="{{ path('project_app_manager_promotion_create') }}" method="POST" {{ form_enctype(formPromotion) }} >
		{{ form_errors(formPromotion) }}
		{{ form_widget(formPromotion) }}

		<input type="submit" value="Ajouter" />
	</form>
{% endblock %}