{% extends "ProjectAppBundle::layout.html.twig" %}

{% block main %}
    <h2>Promotion edit</h2>

    {{ form(edit_form) }}

    <a href="{{ path('promotion') }}">Retour à la liste</a>
    
    {{ form(delete_form) }}
{% endblock %}
