{% if evaluationsList is empty %}
    <p>Aucune évaluation est disponible pour le moment.</p>
{% else %}
		<h1>Liste des évaluations</h1>

		{% for evaluation in evaluationsList %}
			<ul>
				<li>Sujet : {{ evaluation.description }} |
                    <a href="{{ path('evaluation_edit', { 'id': evaluation.id }) }}">Modifier</a>
                </li>
				<li>Note maximale : {{ evaluation.max }} </li>
			</ul>
		{% endfor %}

{% endif %}