{% if evaluationsList is empty %}
    <p>Aucune évaluation est disponible pour le moment.</p>
{% else %}
		<h1>Liste des évaluations</h1>
    <ul>
        {% for evaluation in evaluationsList %}
            <li>{{ evaluation.description }} </li>
            <li>{{ evaluation.readed }} </li>
            <li>{{ evaluation.max }} </li>
        {% endfor %}
    </ul>
{% endif %}