{% extends "ProjectAppBundle::layout.html.twig" %}

{% block content %}
	
	{% if is_granted('ROLE_SPEAKER') %}
		<div class="bloc-top">
	        <a class='btn btn-second' href="{{ path('evaluation_new') }}">Nouvelle évaluation</a>
	    </div>
    {% endif %}

	<div class="panel-group">
        <div class="panel-item">
            {% if evaluationsList is empty %}
            	<div class="panel-content">
			    	Aucune évaluation est disponible pour le moment.
			    </div>
			{% else %}
        </div>
		
		{% for evaluation in evaluationsList %}
			<div class="panel-item">
	            <div class="panel-header">
	                <h2 class="pull-left">{{ evaluation.description }}</h2>
	                {% if is_granted('ROLE_SPEAKER') %}
						<a class="pull-right btn btn-default btn-small" href="{{ path('evaluation_edit', { 'id': evaluation.id }) }}">Modifier
						</a>
				    {% endif %}
	                
	            </div>
	            <div class="panel-content">
	            	Note maximale : {{ evaluation.max }} 
	            	
				</div>
	        </div>
        {% endfor %}

    </div>	

	{% endif %}

{% endblock %}
