{% extends "ProjectAppBundle::layout.html.twig" %}

{% block content %}

	<div class="panel-group">
        <div class="panel-item">
            <div class="panel-header">
            	<h1>Créer une évaluation</h1>
            </div>
            <div class="panel-content">
            	{{ form(form) }}
            </div>
        </div>
    </div>
    
    <a href="{{ path('evaluation') }}" class="btn btn-default">Annuler</a>

{% endblock %}
